#calc_body {
    height: 500px;
    width: 450px;
    border-radius: 25px;
    margin: auto;
    margin-top: 30px;
    background-color: darkseagreen;
}
.calculator{
    width: 375px; 
    height: 100%;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;

}
.input_box {
    width: 375px;
    height: 60px;
    background-color: antiquewhite;
    margin-top: 20px;
}

.controls {
    margin-top: 5%;
    width: 50%;
    height: 35px;
}

.btnLayout{
    display: grid;
    grid-template-columns: [col1-start] 93.75px [col1] 93.75px [col2] 93.75px [col3] 93.75px [col4];
    grid-template-rows: [first] 80px [second] 80px [third] 80px [last] 80px [last];
}


.zero{
    grid-column-start: 1;
    grid-column-end: 3;
}

.divide{
    grid-column-start: 3;
    grid-column-end: 5;
}

