#calc_body {
    height: 500px;
    width: 450px;
    border-radius: 0px;
    margin: auto;
    margin-top: 30px;
    background-color: darkseagreen;
}
.calculator{
    width: 375px; 
    height: 100%;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;

}
input[type=text] {
    width: 375px;
    height: 60px;
    margin-top: 20px;
    margin-bottom: 25px;
}

button{
    background: transparent;
    border: none;
    justify-content: center;
    color: white;
    font-size: 1.75em;
}
.btnLayout{
    display: grid;
    grid-template-columns: repeat(4, 85px);
    grid-template-rows: repeat(5, 70px);
    column-gap: 10px;
    row-gap: 10px;
}

.btnClear{
    grid-column-start: 1;
    grid-column-end: 3;
}

.btnEnter{

    grid-column-start: 3;
    grid-column-end: 5;
}

.zero{
    height: 50px;
    grid-column-start: 1;
    grid-column-end: 4;

}

.divide{
    height: 50px;
    grid-column-start: 4;
    grid-column-end: 5;
}

